<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNuc3GDRq1nVD0TspskCzwz4_HfRl5ZzE</string>
	<key>GCM_SENDER_ID</key>
	<string>780317921203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.RTS-game</string>
	<key>PROJECT_ID</key>
	<string>trpg-18d75</string>
	<key>STORAGE_BUCKET</key>
	<string>trpg-18d75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780317921203:ios:f55fc6ee68daa2f9aa45c6</string>
	<key>DATABASE_URL</key>
	<string>https://trpg-18d75-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>